.App {
  text-align: center;
}

.container {
  /* border:2px solid red; */
}
input{
  border-radius: 23px;
  width: 26vw;
  border: 2px solid rgb(160, 14, 14);
  height: 7vh;
  margin-top: 32px !important;
  font-size: 1.3rem;
  padding: 18px;
}
.NewsCardContainer{
  margin-top: 13px;
 /* border-radius: 29px;
 border:2px solid; */

}
.NewsCardContainer IMG{
height: 13rem;
}
.wholecardContainer{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}